<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 
      
 <h:head></h:head> 
<body> 
<h2>Welcome to Find Me A Job !</h2>
<div></div>
<table>
	<h:form id="form">
	<h:panelGrid >
		<h:outputText value="#{candidateBean.candidat.firstName}  #{candidateBean.candidat.lastName}" />
		<h:outputText value="@#{candidateBean.candidat.userName}" />
		<h:outputText value="#{candidateBean.candidat.email}" />
		<h:outputText value="#{candidateBean.candidat.address}" />
		<h:outputText value="#{candidateBean.candidat.phoneNumber}" />
		<h:outputText value="#{candidateBean.candidat.introduction}" />
		<h:outputText value="Skills : #{candidateBean.candidat.skills}" />
		<h:commandLink id="btn" value="--------------" />
		</h:panelGrid> 
	</h:form>
</table>

<h4>Friends of yours</h4>
<h:dataTable value="#{candidateBean.getfOFf()}" var="cand" >
<h:column><f:facet name="header"><h:outputText value="" /></f:facet>
<h:outputText value="#{cand.firstName}" /></h:column>
</h:dataTable>

<h:form>
<h:panelGrid >
<h:commandLink id="btn" value="--------------" />
<h4>On Line Tests</h4>
<h:dataTable value="#{onLineTestBean.getTestNonPassed()}" var="tests" border="1" >
<h:column><h:outputText value="DeadLine : " />
<h:outputText value="#{tests.deadLine}" /></h:column>
<h:column>
<h:commandLink id="btn" value="Pass it now" action="#{onLineTestBean.passTest(tests.onLineTestId,tests.jobOffer)}"/>
</h:column>
</h:dataTable>
</h:panelGrid> 
</h:form>

</body>  
</html> 