<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui">
      
 <h:head>
 
 </h:head> 
<body> 
<h:form>
 
 	<h:panelGrid >
	<h:outputText value="Question" />
	<h:inputText value="#{questionBean.getQuestionToUp().contenu}" />
	<h:outputText value="Question theme" />
	<h:selectOneMenu value="#{questionBean.getQuestionToUp().theme}">
      <f:selectItem itemLabel="Choose a Theme" itemValue=""/>
      <f:selectItems value="#{data.themes}" />
	</h:selectOneMenu>
	
<h:dataTable value="#{responseBean.getAnswers()}" var="answer" border="">

	<h:column><h:outputText value="The answer" />
	<h:inputText value="#{answer.contenu}"/>
	</h:column>
	<h:column>
	<h:outputText value="Answer state" />
	<h:selectOneMenu value="#{answer.etat}">
<f:selectItem itemLabel="Choose the state" itemValue=""/>
<f:selectItems value="#{data.etats}" />
</h:selectOneMenu>
<h:commandLink value="remove answer" action="#{questionBean.removeAnswer(answer)}"/>
    </h:column>
    
   
</h:dataTable>

	<h:commandLink action="#{questionBean.modifQuestion()}" value="Update" />
	<h:commandButton  value="Back" />
</h:panelGrid>

</h:form>
</body>
</html>