<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
       xmlns:b="http://bootsfaces.net/ui"> 
      
 <h:head></h:head> 
<body>
 <h:form>
<h:outputText value="On Line Test" />
<h:dataTable value="#{onLineTestBean.generateQuiz()}" var="question" border="0" >
<h:column><h:outputText value="#{question.contenu}" />
        <h:panelGrid>
        <h:dataTable value="#{responseBean.getAnswerByQuestion(question.questionId)}" var="answer" border="0" >
     
        <h:column>
        <h:selectBooleanCheckbox id="answercheck" class="checkall">
        <f:ajax listener="#{onLineTestBean.calculScor(answer)}" render=""  />
        </h:selectBooleanCheckbox>
        </h:column>
        <h:column><h:outputText value="#{answer.contenu}" /></h:column>
       
        </h:dataTable>
        </h:panelGrid>
</h:column>

</h:dataTable>
<h:commandButton action="#{onLineTestBean.submitQuiz(onLineTestBean.getOnLineTestId())}" value="Submit" />
</h:form>
  
</body>
</html>