<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui">
      
 <h:head>
</h:head> 
<body> 
<h2>Welcome to Find Me A Job !</h2>
<h:form>
<h4>Add a new Question</h4>
<h:outputText value="Enter a new question"></h:outputText>
<h:outputText value="   " />
<h:inputText id="q" value="#{questionBean.contenu}"></h:inputText>
<h:outputText value="   " />
<h:outputText value="Choose the question's theme please"></h:outputText>
<h:outputText value="   " />
<h:selectOneMenu value="#{questionBean.theme}">
<f:selectItem itemLabel="Choose a Theme" itemValue=""/>
<f:selectItems value="#{data.themes}" />
</h:selectOneMenu>

<h:form>
<h:panelGrid>
<h:outputText value="Add the question's answer"></h:outputText>
<h:outputText value="   " />
<h:inputText id="crname" value="#{questionBean.contenuR}"></h:inputText>
<h:outputText value="   " />
<h:outputText value="Choose the answer's state"></h:outputText>
<h:outputText value="   " />
<h:selectOneMenu value="#{questionBean.etat}">
<f:selectItem itemLabel="Choose the state" itemValue=""/>
<f:selectItems value="#{data.etats}" />
</h:selectOneMenu>
<h:outputText value="   " />
<h:commandButton  id="addA" value="Add" action="#{questionBean.addNewAnswer(questionBean.contenuR,questionBean.etat)}"/>
</h:panelGrid>
</h:form>

<h:commandLink value="Add Question" action="#{questionBean.ajoutQuestion()}" />
<h:panelGrid>
<h:outputText value="               " />
<h:outputText value="               " />
<h:outputText value="               " />
<h:outputText value="               " />
<h:outputText value="               " />
<h:outputText value="               " />
</h:panelGrid>

<table border="1">
<tr></tr><td>
<h:dataTable value="#{questionBean.getQuestion()}" var="question" border="0" >

<h:column><h:outputText value="#{question.contenu}" />
        <h:panelGrid>
        <h:dataTable value="#{responseBean.getAnswerByQuestion(question.questionId)}" var="answer" border="0" >
     
        <h:column><h:outputText value="#{answer.contenu}" /></h:column>
        <h:column><h:outputText value="#{answer.etat}" /></h:column>
        
        </h:dataTable>
        
        </h:panelGrid>
</h:column>

<h:column>
        
        <h:commandLink action="#{questionBean.suppQuestion(question.questionId)}" value="remove" /> 
        <h:outputText value="      " />
        <h:commandLink action="#{questionBean.modifyQandAPage(question)}" value="modify" /> 
        
</h:column>

</h:dataTable>
</td>
</table>
</h:form>
</body>  


</html> 